<% extend('../layouts/dashboardLayout') %>

<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="w-100 btn-group">
      <a
        href="/dashboard/archives?state=public"
        class="rounded-0 w-100 btn btn-outline-secondary <% if(state === 'public'){ %> active <% } %>"
        >已發佈</a
      >
      <a
        href="/dashboard/archives?state=draft"
        class="rounded-0 w-100 btn btn-outline-secondary <% if(state === 'draft'){ %> active <% } %>"
        >草稿</a
      >
      <a href="/dashboard/article/create" class="btn btn-primary">新增文章</a>
    </div>
    <div class="archive-list">
      <% articlesInfo.forEach(item =>{ %>
        <div class="my-3 card">
          <h4 class="card-header"><%- item.title %></h4>
          <div class="card-body">
            <%- striptags(item.content).slice(0,150) %> 
            <% if(striptags(item.content).length > 150){ %> ... <%}%>
            <div>
              <span class="fa fa-clock-o"></span>
              <%- dayjs(item.update_time).format("YYYY/MM/DD") %> ,
              <span class="fa fa-folder-open-o"></span>
              <span>
                <%- item.category %>
              </span>
            </div>
          </div>
          <div class="p-0 card-footer btn-group">
            <a
              href="#"
              class="rounded-0 btn btn-outline-danger deletePost"
              data-id="<%- item.id %>"
              data-title="<%- item.title %>"
              >刪除</a
            >
            <a
              href="/dashboard/article/<%- item.id %>"
              class="rounded-0 w-100 btn btn-outline-secondary"
              >編輯</a
            >

            <a
              href="/post/<%- item.id %>"
              target="_blank"
              class="rounded-0 w-100 btn btn-outline-secondary"
              >預覽</a
            >
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</div>

<script src="/js/archives.js"></script>
