<% extend('../layouts/dashboardLayout') %>

<form 
  method="POST" 
  class="row justify-content-center" 
  <% if(articleInfo.id){ %>
    action="/dashboard/article/update/<%- articleInfo.id %>"
  <% }else{ %>
    action="/dashboard/article/create" 
  <% } %> 
>
  <div class="col-md-6">
    <label for="title">請輸入標題</label>
    <input
      type="text"
      id="title"
      class="form-control"
      name="title"
      placeholder="標題"
      value="<%- articleInfo.title || '' %>"
    />
    <hr />
    <textarea name="content" id="editor" class="form-control">
      <%- articleInfo.content || '' %>
    </textarea>

    <script>
      CKEDITOR.replace("content");
    </script>
  </div>
  <div class="col-md-3">
    <div class="mb-3 card">
      <h6 class="card-header">分類</h6>
      <div class="card-body">
        <% categoriesInfo.forEach(item =>{ %>
          <div class="form-check">
            <label class="form-check-label">
              <input 
                class="form-check-input" 
                type="radio" 
                name="category"
                value="<%- item.name %>"
                required
                <% if(item.name === articleInfo.category) { %> 
                  checked 
                <% } %> 
              /> 
              <%- item.name %>
            </label>
          </div>
        <% }) %>
      </div>
    </div>

    <div class="mb-3 card">
      <h6 class="card-header">是否公開</h6>
      <div class="card-body">
        <div class="w-100 btn-group btn-group-toggle" data-toggle="buttons">
          <label
            class="w-100 btn btn-outline-primary <% if(articleInfo.status === 'draft'){ %> active <% } %>"
          >
            <input 
              type="radio" 
              name="status" 
              autocomplete="off" 
              value="draft"
              <% if(articleInfo.status === 'draft'){ %> checked <% } %>
            /> 草稿
          </label>
          <label
            class="w-100 btn btn-outline-primary <% if(articleInfo.status === 'public'){ %> active <% } %>"
          >
            <input 
              type="radio"  
              name="status" 
              autocomplete="off" 
              value="public"
              <% if(articleInfo.status === 'public'){ %> checked <% } %>
            /> 公開
          </label>
        </div>
      </div>
    </div>

    <div class="w-100 btn-group">
      <button type="submit" class="w-100 btn btn-outline-primary">儲存</button>
    </div>
  </div>
</form>
